@* Partial view for AJAX search results *@
<div class="search-results">
    @* This is a placeholder for search results *@
    @* You can implement actual product search logic here *@
    <p>Không có kết quả tìm kiếm.</p>
</div>
