
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 feature_item">
                <div class="feature_image">
                    <img src="@Url.Content("/Content/Image")/website/website-design.png" />
                </div>
                <div class="feature_content">
                    <h4>Phân phối thiết bị Tin học - Viễn thông</h4>
                    <p>Bán lẻ thiết bị nghe nhìn trong các cửa hàng chuyên doanh. Bán lẻ thiết bị viễn thông trong các cửa hàng chuyên doanh.Bán buôn thiết bị và linh kiện điện tử, viễn thông.

</p>
                </div>
            </div>
            <div class="col-sm-4 feature_item">
                <div class="feature_image">
                    <img src="@Url.Content("/Content/Image")/website/software-design.png" />
                </div>
                <div class="feature_content">
                    <h4>Xây dựng công trình kỹ thuật dân dụng</h4>
                    <p>Xây dựng các công trình chuyên ngành, công nghiệp và dân dụng gồm : Xây dựng các công trình chuyên ngành bưu điện, viễn thông, điện tử, tin học, thông gió, điều hòa và cấp thoát nước; Xây dựng các công trình công nghiệp, dân dụng và trang trí ngoại thất; Xây dựng các nền móng công trình, kết cấu hạ tầng các công trình cầu đường, sân bay bến cảng, đê điều, đường dây và trạm biến thế điện, cột ăng ten.</p>
                </div>
            </div>
            <div class="col-sm-4 feature_item">
                <div class="feature_image">
                    <img src="@Url.Content("/Content/Image")/website/facebook-solution.png" />
                </div>
                <div class="feature_content">
                    <h4> Giải pháp - Dịch vụ</h4>
                    <p>Kinh doanh bất động sản, quyền sử dụng đất thuộc chủ sở hữu, chủ sử dụng hoặc đi thuê. Đại lý du lịch. Điều hành tua du lịch.</p>
                </div>
            </div>
        </div>

    </div>
</div>