
<div class="whoarewe">
    <div class="container">
        <div class="whoarewe_content">
            <h3>Chúng tôi là ai?</h3>
            <p>
                Đội ngũ cán bộ quản lý, kỹ thuật của Công ty gồm 100% là các kỹ sư, cử nhân trẻ và nhiệt tình trong công việc, có khả năng tiếp thu, phân tích và vận dụng các kinh nghiệm cũng như triển khai các công nghệ mới.
            </p>
            <p>
                Các kỹ sư, cử nhân của CTC tuy tuổi đời còn rất trẻ nhưng đã tham gia nhiều dự án thuộc lĩnh vực BC-VT tại nhiều tỉnh thành trong cả nước; từ công tác quản lý đến công tác kỹ thuật bao gồm: tư vấn, thiết kế, lắp đặt, bảo trì bảo dưỡng các công trình ngoại vi, truyền dẫn quang, chuyển mạch, vi ba, thông tin di động, các hệ thống tổng đài vệ tinh, các hệ thống mạng máy tính Lan/Wan...
            </p>
            
        </div>
    </div>
</div>